.table {
    padding: 10px;
    margin-right: 30px;
    color: var(--color);
}
.row {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.row:hover {
    background-color: var(--hover-background-color);
}
.thead {
    display: flex;
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid var(--line);
}
.tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.name {
    display: flex;
    align-items: center;
    width: 40%;
}
.profile span {
    height: 42px;
    width: 42px;
    margin: 8px 8px 8px 0;
    background-color: #123123;
    color: #fff;
    font-weight: 500;
    justify-content: center;
    font-size: 22px;
}
.phone {
    width: 20%;
}
.email {
    width: 30%;
}
.buttons {
    display: flex;
    width: 10%;
    justify-content: flex-end;
    /* visibility: hidden; */
}
.row:hover .buttons {
   visibility: visible;
}
.button {
    display: flex;
    background-color: inherit;
    border: none;
    margin: 0 5px;
}
.button img {
    background-color: inherit;
    width: 20px;
    filter: invert(19%) sepia(5%) saturate(16%) hue-rotate(316deg) brightness(88%) contrast(92%);
}


@media screen and (max-width: 1286px) {
    .phone {
        display: none;
    }
    .name {
        width: 55%;
    }
    .email {
        width: 35%;
    }
}
@media screen and (max-width: 1024px) {
    .table {
        margin: 0;
    }
}
@media screen and (max-width: 766px) {
    .email {
        display: none;
    }
    .name {
        width: 90%;
    }
}